<html>
<head>
  <title><%= @header %></title>
  <link type="text/css" rel="stylesheet" media="screen" href="<%= resource_url('style.css') %>"/>
</head>
<body>
  <div id='debug'></div>
  <div>
    <a href="javascript:toggle_all();" id="toggle_all">Expand All</a>
  </div>
  <% yield %>
</body>
<%= javascript_include_tag "prototype", "rb_gateway", "log_collapse" %>
</html>