<html>
<head>
  <title><%= @header %></title>
  <link type="text/css" rel="stylesheet" media="screen" href="<%= resource_url('style.css') %>"/>
</head>
<body>
  <div id='debug'></div>
  <div>
    <a href="javascript:toggle_all();" id="toggle_all">Hide all</a>
  </div>
  <% yield %>
</body>
<%= javascript_include_tag "prototype", "rb_gateway" %>
<script language="JavaScript">
  all_toggled = true;
  function toggle_all() {
    if (all_toggled) {
      $$(".diff").each(function(e) { $(e).hide() });
      all_toggled = false;
      $('toggle_all').update("Show all");
    }
    else
    {
      $$(".diff").each(function(e) { $(e).show() });
      all_toggled = true;
      $('toggle_all').update("Hide all");
    }
  }
  
  function set_detail_visibility(rev, state) {
    link = "toggle_link_" + rev;
    detail_div = "detail_" + rev;
    
    if (state) {
      $(link).update("Hide Diff");
      $(detail_div).show();
    }
    else
    {
      $(link).update("Show Diff");
      $(detail_div).hide()
    }
  }
  
  function toggle(rev) {
    set_detail_visibility( rev, ! $('detail_' + rev).visible() );
  }
  
</script>
</html>