<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Git</string>
	<key>ordering</key>
	<array>
		<string>41F8764A-63DE-4965-9192-918E49E15907</string>
		<string>9CAC009F-9536-4FB3-96E5-84813C4A71F8</string>
		<string>37CC38F5-AF4C-4915-B925-1DC810C25C8A</string>
	</array>
	<key>uuid</key>
	<string>EADD4718-EE11-4ABF-A7E6-13351FB3799D</string>
</dict>
</plist>
