<h1>Config</h1>
<p>Values are saved when the form-field loses focus.</p>
<form onsubmit="return false">
  <table class="listing">
    <thead>
      <tr>
        <th>Global Config</th>
<th>Local Config Config</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Name: <%= content_tag :input, :type => "text", :value => git.config[:global, "user.name"], :onchange => "dispatch({controller: 'config', action: 'set', scope: 'global', key: 'user.name', value: $F(this)})" %><br/>
          Email: <%= content_tag :input, :type => "text", :value => git.config[:global, "user.email"], :onchange => "dispatch({controller: 'config', action: 'set', scope: 'global', key: 'user.email', value: $F(this)})" %><br/>
        </td>
      </tr>
      <tr>
        <td>
          Log limit: <%= content_tag :input, :type => "text", :value => git.config[:global, "git-tmbundle.log.limit"], :onchange => "dispatch({controller: 'config', action: 'set', scope: 'global', key: 'git-tmbundle.log.limit', value: $F(this)})" %><br/>
        </td>
        <td>
          Log limit: <%= content_tag :input, :type => "text", :value => git.config[:local, "git-tmbundle.log.limit"], :onchange => "dispatch({controller: 'config', action: 'set', scope: 'local', key: 'git-tmbundle.log.limit', value: $F(this)})" %><br/>
        </td>
    </tbody>
  </table>
</form>