<h2>Result:</h2>

<pre><%= htmlize(result[:output]) %></pre>

<h2>Commit Files:</h2>
<ul>
  <% files.each do |e| %>
    <li><%= htmlize(e) %></li>
  <% end %>
</ul>

<h2>Using Message:</h2>
<pre><%= htmlize(message) %></pre>
  
<% if result[:rev] %>
  <h2>Diff of committed changes:</h2>
  <% 
    flush 
    diff_formatter = Formatters::Diff.new
    diff = SCM::Git::Diff.new
    diff_result = diff.diff_revisions(".", "#{result[:rev]}^", "#{result[:rev]}")
    
    diff_formatter.content diff_result
  %>
<% end %>
