<h2>Resolve a merge conflict</h2>

<% if @status.any? {|status_options| status_options[:status][:short] == "C"} %>
  <p class='infobox'>You still have outstanding merge conflicts.  Resolve them, and try to commit again.</p>
<% else %>
  <p class="infobox">Commit the result of a merge conflict</p>
  <div id='commit_output'>
    <h4>Message:</h4>
    <div>
      <textarea id="commit_message" name='commit_message' cols="80" rows="20"><%= @message %></textarea>
    </div>
    
    <input type="button" name="commit" value="Commit" onclick="$('commit_output').update(dispatch({controller: 'commit', action: 'merge_commit', message: $F('commit_message')}));"/>
  </div>
<% end %>
