<h1>Eegad!  You're not on a branch</h1>
<h2>You could lose everything!</h2>
<p>
  Ok, well, you could lose this commit.  If you commit when you're not on a branch, and then you checkout a different branch, you're commit will be lost.
</p>
<p>
  To make this commit, checkout the branch first you'd like to commit to, then make the commit.
</p>