<h1>Eegad!  You're not on a branch</h1>
<h2>You could lose everything!</h2>
<p>
  Ok, well, you could lose this commit.  If you commit when you're not on a branch, and then checkout a different branch, your commit will be lost.
</p>
<p>
  To make this commit, first checkout the branch you'd like to commit to, then make the commit.
</p>