<table border=0 id="status_output">
<% status_data.each do |e| %>
  <tr>
    <td style='padding:0px 10px;'>
      <span title="<%= htmlize(e[:status][:long]) %>">
        <%= htmlize(e[:status][:short]) %>
      </span>
    </td>
    <td>
      <% display_path = git.root_relative_path_for(e[:display]) %>
      <% if e[:path][-1..-1]=="/" %>
        <%= htmlize(display_path) %>
      <% else %>
        <%= link_to_textmate display_path, e[:path] %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>